<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :full_name, "Nome" %><br />
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :age, "Idade" %><br />
    <%= f.text_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :work_role, "Cargo" %><br />
    <%= f.text_field :work_role, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state, "Estado" %><br />
    <%= f.select :state, Contact.states, { prompt: "Escolha um Estado" }, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= f.submit "Criar contato", class:"btn btn-primary" %>
  </div>
<% end %>
