<p id="notice"><%= notice %></p>

<h1>Contatos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Estado</th>
      <th>Idade</th>
      <th>Cargo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.full_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.state %></td>
        <td><%= contact.age %></td>
        <td><%= contact.work_role %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-primary' %>

<h1>Buscas</h1>

<table class="table">
  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= link_to "Busca #{query.id}", query %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nova Busca', new_query_path, class: 'btn btn-primary' %>
